body {
    background-image:url(imgs/flowerbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#heading {
    font-size: 50px;
    color: rgb(0, 66, 0);
    opacity: 1;
}

.contentRow {
    background-color: rgba(255, 255, 255, 0.61);
    padding:40px;
    border: 2px solid white;

}

#addTaskBtn {
    background-color: green;
}

#clearTaskBtn {
    background-color: red;
}


#totalTaskss, #totalTasksNumber {
    font-size:30px;
    color:rgb(0, 66, 0);
}